*
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
html, body
{
	background-color: #fff;
	color: #000;
}
h1
{
	background-color: #eee;
	font-size: 2rem;
	padding: 1rem;
}
section
{
	padding: 1rem;
}
table
{
	border: 1px solid #ccc;
	display: none;
	margin: 0 0 1rem 0;
	padding: 0;
}
td
{
	padding: 1rem;
}
td:not(:last-child) {
	border-right: 1px solid #ccc;
}
tr:not(:last-child) td {
	border-bottom: 1px solid #ccc;
}